h1, p, ol, li, label, textarea, button, input {
	font-family: 'IBM Plex Sans', sans-serif;
}

/* Using Perfect Fourth */

#content {
	width: 90%;
	margin: auto;
}

#content h1 {
	font-size: 4.209em;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10%;
}

#content p {
	font-size: 2.369em;
	box-sizing: border-box;
	text-align: center;
	margin-top: 5%;
}

#content label {
	font-size: 2.369em;
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 15% 0 2.5%;
}