h1, p, ol, li, label, textarea, button, input {
	font-family: 'IBM Plex Sans', sans-serif;
}

/* Using Perfect Fourth */

#content {
	width: 90%;
	margin: auto;
}

#content h1 {
	font-size: 4.209em;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10%;
}

#content p {
	font-size: 2.369em;
	box-sizing: border-box;
	text-align: center;
	margin-top: 5%;
}

#content label#forEmail {
	font-size: 2.369em;
	box-sizing: border-box;
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 2.5%;
}

input#email {
	font-size: 1.777em;
	box-sizing: border-box;
	display: block;
	width: 60%;
	margin: auto;
	height: 2.5em;
	border-radius: 12px;
}

div#center {
	width: 458px;
	height: 2.369em;
	margin: auto;
	margin-top: 15%;
}

input#age-verification {
	height: 2.369em;
	width: 2.369em;
	float: left;
	margin: 0 3% 0 0;
}

#content label#forAge {
	font-size: 2.369em;
	box-sizing: border-box;
	display: block;
	float: left;
}

input#submit {
	font-size: 2.369em;
	box-sizing: border-box;
	display: block;
	width: fit-content;
	padding: 10px;
	margin: auto;
	border-radius: 12px;
	margin-top: 15%;
}