h1, p, ol, li, label, textarea, button, input {
	font-family: 'IBM Plex Sans', sans-serif;
}

/* Using Perfect Fourth */

#content h1 {
	font-size: 4.209em;
	font-weight: bold;
	box-sizing: border-box;
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 10%;
}

