h1, p, ol, li, label, textarea, button, input {
	font-family: 'IBM Plex Sans', Arial, sans-serif;
}

html {
	background-color: lightgrey;
}

/* Using Perfect Fourth */

#content {
	width: 90%;
	margin: auto;
}

#content h1 {
	font-size: 2.369em;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10%;
}

#content p {
	font-size: 1.777em;
	box-sizing: border-box;
	text-align: center;
	margin-top: 5%;
}

#content label#forEmail {
	font-size: 1.777em;
	box-sizing: border-box;
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 2.5%;
}

input#email {
	font-size: 1em;
	box-sizing: border-box;
	display: block;
	width: 60%;
	margin: auto;
	height: 2.5em;
	border-radius: 12px;
	border: 0;
	background-color: #b2b2b2;
}

div#center {
	width: 440px;
	height: 1.777em;
	margin: auto;
	margin-top: 15%;
}

input#age-verification {
	height: 1.777em;
	width: 1.777em;
	float: left;
	margin: 0 3% 0 0;
}

.hasjs input#age-verification {
	position: absolute;
	right: 6000px;
}

.hasjs div#alt-checkbox {
	box-sizing: border-box;
	height: 1.777em;
	width: 1.777em;
	float: left;
	margin: 0 3% 0 0;
	background-color: #b2b2b2;
	border-radius: 5px;
}

#content label#forAge {
	font-size: 1.777em;
	box-sizing: border-box;
	display: block;
	float: left;
}

input#submit {
	font-size: 1.777em;
	box-sizing: border-box;
	display: block;
	width: fit-content;
	padding: 10px;
	margin: auto;
	border-radius: 12px;
	margin-top: 15%;
	border: 0;
	background-color: #b2b2b2;
}


@media only screen and (min-width: 510px) {
	html {
		background-color: #b2b2b2;
	}

	#content {
		background-color: lightgrey;
		border-radius: 20px;
		margin-top: 3%;
	}

	#content h1 {
		font-size: 3.157em;
		margin-top: 0%;
		padding-top: 1.5em;
	}

	#content p {
		font-size: 2.369em;
		margin-top: 1em;
	}

	#content p#check {
		font-size: 2em;
		margin-top: 0;
	}

	#content label#forEmail {
		font-size: 2.369em;
		margin: auto;
		margin-top: 1.5em;
		margin-bottom: .5em;
	}

	input#email {
		font-size: 1.777em;
	}

	div#center {
		width: 335px;
		height: 1.777em;
		margin: auto;
		margin-top: 1.5em;
	}

	input#submit {
		font-size: 2.369em;
		margin: 5em auto 0 auto;
		position: relative;
		bottom: 2em;
	}
}